# Vivado / Vitis
*.jou
*.log
*.str
*.debug
*.tmp
*.os
*.pb
*.xpr
*.xsa
*.cache/
.metadata/
*.hw/
*.sim/
*.ip_user_files/
*.runs/
*.srcs/
*.gen/
*.sysgen/

# HLS
*.hls/
*.hlsproj/
solution*/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Build artifacts (但保留 board/overlay 下的最终产物)
build/*.bit
build/*.hwh

# OS
.DS_Store
Thumbs.db
